* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.book-text-input {
  padding: 5px;
  border: none;
  outline: wheat solid 1px;

  transition: 250ms;
}

.book-text-input:focus {
  outline: yellow solid 2px;
}

.book-form-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
